*{
	padding:0;
	margin:0;
}
li{
	list-style: none;
}
.textCenter{
	text-align:center;
}
.box{
	width:100%; 
	float:left; 
}
#box{
	width:100%;
	position: relative;
	overflow: hidden;
}
#ul1{
	width:100%;
	position: absolute;
}
#box0{ 
	background: #000; 
	/*background: #ff6;*/
	position: relative;
}
#box1{
	background: #cff; 
}
#box2{
	background: #fcc; 
	position: relative;
}
#box3{
	background: #9c3; 
}
#box4{
	background: #ccf; 
}
#logoBox{
	width:100px;
	height:100px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-50px;
	margin-top:-50px;
	background: #ff6;
	border-radius: 50%;
	overflow: hidden;
}
#logoBox img{
	width:100px;
}
#nav{
	position: fixed;
	width:100%;
	height:50px;
	z-index: 2;
	top:0;
	left:0;
	background: #eee;
	opacity:.7;
	display: none;
}
#nav ul{
	height:50px;
	line-height: 50px;
	position: absolute;
	width:500px;
	right:20px;
	cursor: pointer;
}
#nav ul li{
	width:100px;
	height:50px;
	text-align: center;
	float:left;
}
#pos{
 position:absolute; 
 left:0; top:0;  
  background:#ff6; 
  z-index:-1; 

}
#Introduce{
	height:100%;
	display: none;
}
#Introduce>div{
	width:33.3%;
	float:left;
	height:100%;
}
.imgBox{
	width:150px;
	height:150px;
	position: absolute;
	left:50%;
	top:50%;
	margin-left:-75px;
	margin-top:-75px;
	background: #ff6;
	border-radius: 50%;
	overflow: hidden;
}
.imgBox img{
	width:150px;
	height:150px;
}
#introLeft{
	padding-top:60px;
}
#introLeft div{
	width:100px;
	height:40px; 
	margin-top:20px;
	line-height: 30px;
	overflow:hidden;
	padding:5px;
	color: #fff;
	 
}
 
#box1>div,#box2>div{
	width:1000px;
	margin: 0 auto;
	padding-top:80px;
}
#box1 ul{
	width:800px;
	overflow: hidden;
	margin: 0 auto;
}
#box1 li{
	width:180px;
	height:180px;
	border-radius: 50%;
	background: #ff0;
	float: left;
	margin:10px;
	position:relative; 

}
#box1 li:hover{
	 -webkit-box-shadow:0 0 10px #ccc;  
	  -moz-box-shadow:0 0 10px #ccc;  
	  box-shadow:0 0 10px #ccc;  
}
#box1 li span{ 
	position:absolute;
	left:50%; 
	top:0;
	width:8px;
	height:8px; 
	background:#ff0; 
	border-radius:50%; 
	margin:-4px 0 0 -4px;
 }
 #box1 li a{
 	text-decoration: none;
 	text-align: center;
 	line-height:180px;
 	width:100%;
 	height:100%;
 	border-radius: 50%; 
 	font-size: 22px;
 	display: inline-block; 
 }
 .title{
 	margin-bottom:50px;
 }
 #introRight .introBox{
	height:350px;
	width:260px;
	margin: 160px auto;
	background: #fff;
	overflow: hidden; 
	position: relative;
 }
  #introRight .introBox .topA{
	width:40px;
	height:30px;
	top:-30px;
	background: #999; 
	opacity: 0.5;
	display: inline-block;
	position: absolute;
  }
  #introRight li{
  	height:350px;
	width:260px;  
  }
 #moveBox{
	overflow: hidden;
	width:810px;
	margin:0 auto;
  }
 #moveBox ul{ 
 	width:250px; 
 	height:200px; 
 	background:#ccc;
 	 float:left; 
 	 position:relative;
 	  overflow:hidden; 
 	  margin:10px;
  }
 #moveBox li{ 
 	position:absolute; 
 	left:0; 
 	top:-200px; 
 	width:250px; 
 	height:200px; 
 	background:#6cf; 
 	line-height:200px;
 	text-align: center;
 	color: #fff;
 	font-size: 26px;
 }