*{
	padding:0;
	margin:0;
	box-sizing: border-box;
}
li{
	list-style: none;
}
/*body{
	background: #fafafa;
}*/
a{
	text-decoration:none;
}
/*div{
	border:1px solid red;
}*/
header{
	height:100px;
}
.header_contaiter{
	width:1200px;
	height:100%;
	margin:0 auto;
}
.hd_left{
	width:328px;
	height:66px;
	float:left; 
	padding:22px 0;
	/*line-height: 100px;*/
} 
.hd_right{
	/*width:721px;*/
	height:100px;
	float:left;
}
.hd_right{
	padding-left:150px;
}
.hd_right li{
	height:100px;
	text-align: right;
	line-height: 100px;
	font-size:18px;
	padding-left:60px;
	float:left; 
}
 
.hd_right li a{
	color:#000; 
}
.hd_right li .active{
	color:#2288f6;  
}
.main_box{ 
 	margin:0 auto;
 	overflow: hidden;
 	position: relative;
 }
.main_box ul{
	position: absolute;
	overflow:hidden;
	top:0;
	left:0;
}
.main_box ul li{ 
	float:left;
}
.main_box ul li img{
	width:100%;
}
.main_page{
	width:100%;
	position: absolute;
	bottom:10px;
	z-index: 2;
}
.main_bar{
	overflow: hidden;
	width:125px;
	margin:0 auto;
}
.main_bar div{
	margin:5px;
	width:10px;
	height:10px;
	border:1px solid #fff;
	border-radius: 50%;
	background: #fff;
	float: left;
}
.main_bar div.active{
	background:  rgba(0,0,0, 0);
}
.con_contaiter{
	width:1200px;  
	margin:0 auto;
}
.con_server{
	width:1003px;
	height:76px; 
	border-bottom: 1px solid #ccc; 
	margin: auto auto 34px; 
}
.con_server h2{
	height: 45px;
	width: 156px;
	margin-left: -78px;
	position: absolute;
	left: 50%;
	margin-top: 64px;
	background: url(../img/sprite-tit.png) no-repeat;
}
.con_server .con_ser{   
	background: url(../img/sprite-tit.png) no-repeat 0 -486px;  
	background-color: #fafafa; 
}
.con_font{
	width:1003px;
	font-size:14px;
	color:#666;
	text-align: center;
	margin:78px auto 50px auto;
	overflow: hidden;
}
.con_pro{
	width:1104px;
	margin:50px auto 60px auto;
	overflow: hidden;
}
.pro_1{
	width:320px;
	height:510px;
	float:left; 
	margin:0 24px;  
	background: #fff;
	text-align: center;
}

.pro_img{
	width:253px;
	height:130px;
	margin:40px auto;
}
.pro_img_1{
	background: url(../img/service.png) no-repeat 0 0;
}
.pro_img_2{
	height:148px;
	margin:31px auto;
	background: url(../img/service.png) no-repeat 0 -130px;
}
.pro_img_3{
	background: url(../img/service.png) no-repeat 0 -278px;
}
.pro_1 h4{
	font-size:22px;
	text-align: center;
	color: #000;
	font-weight: bold;
}
.pro_1 p{
	padding:42px;
	font-size: 14px;
	color:#989898;
	line-height: 25px;
	
}
.bg{
	background: #fafafa; 
	padding-bottom: 60px;
}
.pro_btn{
	font-size:14px;
	height:38px;
	width:150px;
	color:#ff9412;
	background: #fff;
	border:1px solid #ff9412;

}
.pro_btn:hover{
	background: #ff9412;
	color:#fff;
}
.con_server .bg_fff{
	background-color: #fff;
}
.con_server .con_case{ 
	background-position: 0 -216px; 
	background-color: #fff; 
}
.con_scroll{
	width:1092px;
	position: relative;
	margin:0 auto;
}
.con_scroll_ul{
	overflow: hidden;
}
.con_scroll_ul li{
	width:324px;
	height:201px;
	margin:20px;
	float:left;
	position: relative;
	overflow: hidden;
}
.con_scroll_ul li img{
	width:324px;
	top:0;
	left:0;
	height:201px;
	position: absolute;
}
.con_prev,.con_next{
	width:60px;
	height:60px;
	text-align: center;
	line-height: 60px;
	border-radius:50%;
	font-size:30px;
	background:#e6e6e6;
	position: absolute;
}
.con_prev{
	top:90px;
	left:-60px;
}
.con_next{
	top:90px;
	right:-60px;
}
.scroll_bottom{
	width:324px;
	height:46px; 
	background: rgba(0,0,0,0.3);
	text-align: center;
	line-height: 46px;
	font-size:14px;
	position: absolute;
	left:0;
	bottom: 0;
	color: #fff;
	z-index: 2;
}
.scroll_mark{
	display: none;
	width:324px;
	height:201px; 
	background: rgba(0,0,0,0.3);
	text-align: center;
	position: absolute; 
	vertical-align: middle;
	left:0;
	top:0;
	z-index: 1;
}
.search_span{
	display: inline-block;
	width:72px;
	height:72px;
	background: url(../img/search.png) no-repeat;
	margin-top:70px; 
}
.con_media{
	width:1105px;
	height:159px;
	overflow: hidden;
	margin:50px auto 200px auto;
}
.con_media ul{ 
	margin: -1px 0 0 -1px;
	overflow: hidden;
}
.con_media li{
	width: 221px;
	height: 80px;
	border-top: 1px dashed #ccc;
	border-left: 1px dashed #ccc;
	text-align: center;
	overflow: hidden;
	float: left;
}

/*shop*/
.main_img_box{
	width:100%;
}
.main_img_box img{
	width:100%;
}
.con_prod{
	width:1200px;
	padding:40px 0 100px 0;
}
.con_prod_ul{
	overflow: hidden;
}
.con_prod li{ 
	width: 260px;
	margin-left:40px;
	float:left;
}
.con_prod a{
	cursor: pointer;
	width:100%; 
	display: block;
}
.con_prod .prod_box{
	background: url(../img/icon.png) no-repeat;
	height: 260px;
	width: 260px;
	transition: all 0.4s ease 0s;
	-ms-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s; 
}
.con_prod .prod_bgc1{
	background-position: -189px 0;
}
.con_prod .prod_bgc1:hover{
	background-position: -449px 0;
}
.con_prod_ul h4{
	font-size:18px;
	font-weight: bold;
	color:#000;
	height:60px;
	line-height: 60px;
}
.con_prod_ul span{
	font-size:14px;
	line-height: 22px;
	color: #000;
}

.con_server h2{
	background: url(../img/sprite-tit.png) no-repeat;
}

.con_server .shop_h2{
	height: 32px;
	width: 345px;
	margin-left: -172px;
	position: absolute;
	left: 50%;
	margin-top: 58px;
	background-position:0 0;
	background-color: #fafafa;
}
.con_server .prod_h2{ 
	background-position:0 -37px;
	background-color: #fff;
}
.shop_ul{
	/*overflow: hidden;*/
	margin-top:170px;
}
.shop_ul li{
	width:228px;
	height:428px;
	border:1px solid #e7e8e9;
	float:left;
	margin-right:2px;
	background: #fff;
	padding:46px 25px;
	position: relative;
}
.shop_box{
	position: absolute;
	height:332px;
	width:178px;
	overflow: hidden; 
}
.shop_img{
	width:178px;
	height:178px;
	background: url(../img/icon.png) no-repeat; 
}
.shop_img1{
	background-position: 0 0;
}
.shop_img2{
	background-position: -8px -178px;
}
.shop_img3{
	background-position: 0 -356px;
}
.shop_img4{
	background-position: 0 -534px;
}
.shop_img5{
	background-position: 0 -712px;
}
.shop_box h4{
	margin:88px 0 20px 0;
	font-size: 18px;
	font-weight: bold;
}
.shop_box span{
	font-size:14px;
	color:#666666;
	line-height:25px;
} 
.con_fa_ul{
	overflow: hidden;
}
.con_fa_ul li{
	width:210px;
	height:216px;
	float:left;
	margin:94px; 
	
}	
.fa_box{
	width:130px;
	height:130px;
	border-radius: 50%;
	
	margin:0 auto;
}
.fa_bgc1{
	background: url(../img/fa1.jpg);
}
.fa_bgc2{
	background: url(../img/fa2.jpg);
}
.fa_bgc3{
	background: url(../img/fa3.jpg);
}
.con_fa_ul h4{
	font-size: 18px;
	color:#000;
	text-align: center;
}
.con_fa_ul span{
	font-size:14px;
	color:#999;
}
.lcheng{
	width:100%;
	margin-top:50px;
}
.con_jj{
	width:1080px;
	height:330px;
	overflow: hidden;
}
.con_ys{
	height:362px;
}
.con_jj_font{
	width:576px;
	height:330px;
	float:left;
}
.con_jj_img{
	width:504px;
	float:left;
}
.con_jj_font div{
	margin-top:100px;
}
.con_jj_font div h4{
	font-size: 18px;
	font-weight: bold;
	height:40px;
	line-height:40px; 
}
.con_jj_font  div p{
	font-size:14px;
	line-height: 25px;
	color:#747474;
}
.con_jj_img1{
	padding-left:112px;
}
.con_jj_img1{
	 width:419px;
	 height:362px;
}
.create_btn_box{ 
	margin-top:80px;
}
 .create_btn{
	width:250px;
	height:50px;
	border:1px solid #fe982d;
	text-align: center;
	color:#fe982d;
	line-height:50px;
	margin:0 auto;
	cursor: pointer;
 }
 .create_btn:hover{
 	color:#fff;
 	background: #fe982d;
 }
 footer{
 	height:90px;
 	background: #212425;
 	color:#fff;
 	margin-top:50px;
 }
 footer a{
 	color: #f0f1f1;
 }
 .ft_box{
 	width:780px;
 	margin:0 auto;
 }
 .ft_font{
	/*width:526px;*/
	overflow: hidden;
	 
 }
 .ft_call{
 	margin-left:30px;
 	margin-top:20px;
 	float:left;
 }
 .ft_ul{
 	overflow: hidden;
 	float: left
 }
 .ft_ul li{
 	float:left;
 	height:54px;
 	line-height: 54px;
 	
 	font-size: 14px;
 }
  .ft_ul li a{
  	margin:0 12px;
  }
.ft_copy{
	height:30px;
	text-align: center;
	font-size: 14px;
	color: #8d8d8d;
}