/* reset */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select，li,a,div{margin:0;padding:0; font-family:"宋体"； font-size:12px;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none;}
img{border:none; vertical-align:top; margin:0; padding:0;}
table{border-collapse:collapse;}
tr{ margin:0; padding:0;}
textarea{ resize:none;overflow:auto;}
/* end reset */



body{background:url(../img/bg3.jpg);}
#header{ width: 600px; margin: 50px auto; font-size: 36px; text-align: center;height: 50px; line-height: 50px; color: #fff;  }
#main{ width:1300px; margin: 0 auto; position: relative;}
#door{ margin: 100px auto; width:402px; height:460px; border-top:20px solid #666; border-left:20px solid #666;
	border-right:20px solid #666;position: relative;;}
#leftDoor,#rightDoor{ width:200px;height: 460px;background: #999;float: left; border-bottom: 1px solid #4F4F4F;}
#leftDoor,#rightDoor{ width:200px;height: 460px;background: #999;float: left; border-bottom: 1px solid #4F4F4F;}
#leftDoor{border-right: 1px solid #4F4F4F; position: absolute;left:0;}
#rightDoor{border-left: 1px solid #4F4F4F;position: absolute;right: 0;}
#outFloor{width:100px; height:60px; border: 1px  solid #fff;border-radius:8px;text-align: center; color: red; font-weight: bold;
	 font-size: 36px;margin-bottom: 10px;}
#btn{width:170px; color:black;   position: absolute;top:0px; right:250px; text-align: center;}
.btn{width:70px; height:60px; float: left; background: white; margin: 5px; border: 1px solid white;border-radius:5px;line-height:60px;
	font-weight: bold; font-size: 24px;cursor: pointer;
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#909090,direction=120,strength=3);/*ie*/ 
	 -moz-box-shadow: 5px 5px 10px 2px #909090;/*firefox*/
	   -webkit-box-shadow: 5px 5px 10px 2px #909090;/*safari或chrome*/
	   box-shadow:5px 5px 10px 2px #666666;/*opera或ie9*/}
#manage{width:200px; color: #4F4F4F;position: absolute;top:50px;left:250px;}
#manage span{ color: yellow;}
#manage input{width:150px; height:30px;border: 1px  solid #fff;border-radius:8px; margin-bottom: 20px; font-size: 16px ;
	font-weight: bold;text-align: center;color: red; }